.page-header {
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: auto;
}

.page-header .top-bar-container {
  border-bottom: 1px var(--color-primary-darker) solid;
  background: var(--color-primary-dark);
  width: 100%;
  z-index: 1;
}

.page-header .top-bar-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.page-header .top-bar-content div {
  height: 3.2rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.page-header .top-bar-content div:hover {
  opacity: 0.6;
}

.page-header .top-bar-content > img {
  height: 1.6rem;
  cursor: pointer;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 3.2rem auto;
  margin-top: 2.4rem;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

.page-header .header-content .header-container .info-container {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
}

.page-header .header-content .header-container .info-container p {
  max-width: 100%;
  margin-top: 0rem;
}

@media (min-width: 700px) {
  .page-header {
    height: 340px;
  }

  .page-header .top-bar-content {
    max-width: 1100px;
  }

  .page-header .header-content, .page-header .header-content .header-container {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .page-header .header-content .header-container {
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
  }

  .page-header .header-content .header-container .title-container strong {
    max-width: 350px;
    display: block
  }

  .page-header .header-content .header-container .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
  }

  .page-header .header-content .header-container .info-container p {
    margin-top: 0rem;
    max-width: 13rem;
    margin-left: 1.6rem;
  }
}
